@import 'variables.module.scss';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  html,
  body {
    width: 90%;
    margin: auto;
  }
  
  body {
    background: $background-color;
    background: linear-gradient(90reg, rgba(6,4,15,1) 0%, rgba(16,11,51,1) 100% 100%);;
  }
  
  a,p, h1, h2, h3 {
    color: white;
    text-decoration: none;
  }
  