.container{
    display: flex;
    gap: 15px;
    .card{
        width: 25%;
        position: relative;
        display: inline-block;
        border-radius: 7%;
        border: 1px solid rgb(5, 1, 22);
        .card__btn{
            position: relative;
            display: inline-block;
            transition: 0.5s ease-out;
            &::before{
                content: "";
                border-radius: 7%;
                background: rgb(6,4,15);
                background: linear-gradient(180deg, rgba(6,4,15,0) 0%, rgba(16,11,51,0.8) 65%, rgb(5, 1, 22, 0.97) 80%);
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
            }
            &:hover{
                transform: translateY(20px);
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 7px;
                    background: rgb(5, 1, 22, 0.8);
                    z-index: 2;
                    opacity: 1;
                }
                .summary{
                    opacity: 1;
                    transform: translateY(30px);
                    .read_more{
                        transform: translateX(0px);
                    }
                }
                h3{
                    opacity: 0;
                }
            }
        }
        img{
            width: 100%;
            border-radius: 7%;
        }
        h3{
            position: absolute;
            bottom: 10px;
            left: 10px;
            transform: translate(0, 0);
            transition: 0.4s ease-out;
        }
        .summary{
            position: absolute;
            bottom: 50px;
            padding: 10px 2px;
            opacity: 0;
            transition: 0.4s ease-out;
            z-index: 3;
            transform: translateY(0px);
            padding: 0 25px;
            p{
                text-align: center;
            }
            .read_more{
                text-align: right;
                color: white;
                transition: 0.4s ease-out;
                transform: translateX(-20px);
            }
        }
    }
}
