.container{
    display: flex;
    gap: 15px;
}
.card{
    width: 25%;
    position: relative;
    display: inline-block;
    border-radius: 7%;
    border: 1px solid rgb(5, 1, 22);
}
.test{
    position: relative;
    display: inline-block;
}
.test::before{
    content: "";
    border-radius: 7%;
    background: rgb(6,4,15);
    background: linear-gradient(180deg, rgba(6,4,15,0) 0%, rgba(16,11,51,0.8) 65%, rgb(5, 1, 22, 0.97) 80%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.card img{
    width: 100%;
    border-radius: 7%;
}
.card h3{
    position: absolute;
    bottom: 10px;
    left: 10px;
    transform: translate(0, 0);
}
.card p{
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}
.card p:hover{
    display: block;
}