.header{
    padding: 4px;
    max-width: 80%;
    margin: auto;
    margin-top: 25px;
    display: flex;
}
.block_navigation{
    align-self: center;
    margin-inline-start: auto;
}
.navigation{
    display: flex;
    position: relative;
    list-style: none;
    gap: 30px;
}
.navigation li{
    position: relative;
    list-style: none;
}
.navigation a{
    position: relative;
    text-transform: uppercase;
}
.navigation a::before{
    content: attr(data-text);
    position: absolute;
    color: red;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    border-bottom: 1px solid #B0B0B0;
    -webkit-text-stroke: 1px #B0B0B0;
}
.navigation a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px #B0B0B0);
}